@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #364153;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  background: var(--background);
  width: 20px;
}

::-webkit-scrollbar-thumb {
  background: #1f1f1f;
  border-radius: 4px;
}

/* Firefox */
* {
  scrollbar-width: 8px;
  scrollbar-color: #1f1f1f var(--background);
}